@import url('https://fonts.googleapis.com/css2?family=Prata&family=Outfit:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";


:root {
  font-family: 'Outfit', sans-serif;
}

.prata-regular {
  font-family: "Prata", serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}